---
layout: default
title: Home
---
<!-- Google search header-->
<meta name="google-site-verification" content="BGKwmHR38RhubASI60HjzkFAT4Eg_fTtQfZWrTxC6Eo" />

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

